html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Gradient background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures content always fills the viewport */
}

h3 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 20px;
    display: block;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.image img {
    border-radius: 10em;
    width: 10em;
}

#preview-container, #results {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    margin-top: 20px;
}

#preview-container {
    flex: 1;
    justify-content: center;
    text-align: center;
}

#image-preview {
    max-width: 100%;
    max-height: 400px; /* Adjusts the max height of the image */
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    object-fit: contain; /* Maintains the image's aspect ratio */
}

#results {
    flex: 1;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}

#results h4 {
    margin: 0;
    color: #333;
}

#results p {
    margin: 10px 0 0;
    color: #666;
}

#json-container {
    margin-top: 20px;
}

#json-output {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap; /* Preserves the JSON format */
    word-wrap: break-word; /* Ensures long lines wrap */
}