<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapMax - Upload a Photo</title>
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="icon" href="/static/capmax_icon.png" type="image/x-icon">
</head>
<body>
    <div class="image">
        <img src="/static/capmax_icon.png" alt="Icon from app">
    </div>
    
    <h3>Upload a Photo</h3>

    <form id="upload-form" action="photo/" enctype="multipart/form-data" method="post">
        <input id="file-input" name="file" type="file" accept="image/*">
        <input type="submit" value="Upload">
    </form>

    <div class="preview-results-container">
        <div id="preview-container">
            <img id="image-preview" src="#" alt="Image preview">
        </div>

        <div id="results">
            <h4 id="response-title"></h4>
            <p id="response-text"></p>
            <div id="json-container">
                <h4>JSON Response:</h4>
                <pre id="json-output"></pre> <!-- Elemento preformateado para el JSON -->
            </div>
        </div>
    </div>

   <!--  <script src="/static/scripts.js"></script> --> 
</body>
</html>